## Input dữ liệu

In [32]:
import pandas as pd

In [33]:
# Import dữ liệu
link = "https://docs.google.com/spreadsheets/d/1ZNKbIUmS5apHKtI_WUXlwHeBkyu19wrt/edit?gid=1149835378"

In [34]:
# tách chuỗi link và chỉ lấy phần 1ZNKbIUmS5apHKtI_WUXlwHeBkyu19wrt
sheet_id = link.split("/d/")[1].split("/")[0]

sheets = ["customer", "ticket", "film"]
data = {}

for name in sheets:
    url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={name}"
    data[name] = pd.read_csv(url)

# Gọi từng sheet nếu cần
df_customer = data["customer"]
df_ticket = data["ticket"]
df_film = data["film"]

print(df_customer.head())

   Customerid         DOB Gender                 Address  Phường/Đường  \
0  0000000014   4/18/1999     Nữ  hoa khe quan thanh khe       Hòa Khê
1  0000000034   4/16/1998    Nam                man thai      Mân Thái
2  0000000051  12/16/1993    Nam       que son quang nam           NaN
3  0000000081   11/8/1999    Nam            truong chinh  Trường Chinh
4  0000000098   10/1/1994    Nam                  cẩm lệ           NaN

  Quận/Huyện       Tỉnh       Website          job        industry
0  Thanh Khê    Đà Nẵng   KH0104|0345      student        computer
1    Sơn Trà    Đà Nẵng   KH0104|0333      student  health service
2    Quế Sơn  Quảng Nam   KH0104|0255  blue collar       economics
3     Cẩm Lệ    Đà Nẵng   KH0104|0293      student       economics
4     Cẩm Lệ    Đà Nẵng  KH0104|40580  blue collar  health service

In [35]:
# Kiểm tra thông tin của 3 sheet
print(df_customer.info())
print(df_film.info())
print(df_ticket.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customerid    4479 non-null   object
 1   DOB           4479 non-null   object
 2   Gender        4479 non-null   object
 3   Address       4478 non-null   object
 4   Phường/Đường  1298 non-null   object
 5   Quận/Huyện    4212 non-null   object
 6   Tỉnh          4464 non-null   object
 7   Website       3943 non-null   object
 8   job           4479 non-null   object
 9   industry      3357 non-null   object
dtypes: object(10)
memory usage: 350.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       76 non-null     object
 1   title         76 non-null     object
 2   director      65 non-null     object
 3   cast          69 non-null     object
 4   country       68 non-null     object
 5   release_year  76 non-null     int64
 6   rating        67 non-null     object
 7   duration      75 non-null     object
 8   listed_in     75 non-null     object
 9   description   75 non-null     object
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
 15  Unnamed: 15   0 non-null      float64
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
 18  Unnamed: 18   0 non-null      float64
 19  Unnamed: 19   0 non-null      float64
 20  Unnamed: 20   0 non-null      float64
 21  Unnamed: 21   0 non-null      float64
 22  Unnamed: 22   0 non-null      float64
 23  Unnamed: 23   0 non-null      float64
 24  Unnamed: 24   0 non-null      float64
 25  Unnamed: 25   0 non-null      float64
dtypes: float64(16), int64(1), object(9)
memory usage: 15.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35474 entries, 0 to 35473
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   orderid       35378 non-null  object
 1   cashier       35474 non-null  object
 2   saledate      35378 non-null  object
 3   total         35378 non-null  float64
 4   customerid    35474 non-null  object
 5   ticketcode    35474 non-null  int64
 6   date          35474 non-null  object
 7   time          35474 non-null  object
 8   slot          35474 non-null  object
 9   room          35474 non-null  int64
 10  film          35474 non-null  object
 11  show_id       35474 non-null  object
 12  film_type     35425 non-null  object
 13  slot type     35474 non-null  object
 14  ticket type   35474 non-null  object
 15  ticket price  35474 non-null  int64
 16  popcorn       35378 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 4.6+ MB
None

## Chuẩn bị dữ liệu

### Chuyển đối kiểu dữ liệu

In [36]:
# Bảng customer
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customerid    4479 non-null   object
 1   DOB           4479 non-null   object
 2   Gender        4479 non-null   object
 3   Address       4478 non-null   object
 4   Phường/Đường  1298 non-null   object
 5   Quận/Huyện    4212 non-null   object
 6   Tỉnh          4464 non-null   object
 7   Website       3943 non-null   object
 8   job           4479 non-null   object
 9   industry      3357 non-null   object
dtypes: object(10)
memory usage: 350.1+ KB

Có thể thấy DOB đang bị sai kiểu dữ liệu, chúng ta cần chuyển sang dữ liệu date

In [37]:
df_customer['DOB'] = pd.to_datetime(df_customer['DOB'], errors='coerce')

In [38]:
df_ticket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35474 entries, 0 to 35473
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   orderid       35378 non-null  object
 1   cashier       35474 non-null  object
 2   saledate      35378 non-null  object
 3   total         35378 non-null  float64
 4   customerid    35474 non-null  object
 5   ticketcode    35474 non-null  int64
 6   date          35474 non-null  object
 7   time          35474 non-null  object
 8   slot          35474 non-null  object
 9   room          35474 non-null  int64
 10  film          35474 non-null  object
 11  show_id       35474 non-null  object
 12  film_type     35425 non-null  object
 13  slot type     35474 non-null  object
 14  ticket type   35474 non-null  object
 15  ticket price  35474 non-null  int64
 16  popcorn       35378 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 4.6+ MB

In [39]:
df_ticket.head(1)

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,show_id,film_type,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074925,5/6/2019,18:15,G04,3,AVENGERS: HỒI KẾT,s966,"Action-Adventure, Fantasy, Science Fiction",ĐƠN,Thành viên,45000,Không

saledate, total, D/O/B, age, date,time đang bị sai kiểu dữ liệu

In [41]:
df_ticket['saledate'] = pd.to_datetime(df_ticket['saledate'], errors='coerce')
df_ticket['date'] = pd.to_datetime(df_ticket['date'], errors='coerce')
df_ticket['time'] = pd.to_datetime(df_ticket['time'], format='%H:%M', errors='coerce').dt.time
df_ticket['total'] = pd.to_numeric(df_ticket['total'], errors='coerce').fillna(0).astype(int)

In [ ]:
# check thấy data này có nhiều cột dư thừa và cần loại bỏ
df_film = df_film.drop(df_film.columns[10:25], axis=1)

show_id          0
title            0
director        11
cast             7
country          8
release_year     0
rating           9
duration         1
listed_in        1
description      1
dtype: int64

### Xử lý missing value

#### Bảng Customer

In [ ]:
df_customer.head()

,Customerid,DOB,Gender,Address,Phường/Đường,Quận/Huyện,Tỉnh,Website,job,industry
0,0000000014,4/18/1999,Nữ,hoa khe quan thanh khe,Hòa Khê,Thanh Khê,Đà Nẵng,KH0104|0345,student,computer
1,0000000034,4/16/1998,Nam,man thai,Mân Thái,Sơn Trà,Đà Nẵng,KH0104|0333,student,health service
2,0000000051,12/16/1993,Nam,que son quang nam,NaN,Quế Sơn,Quảng Nam,KH0104|0255,blue collar,economics
3,0000000081,11/8/1999,Nam,truong chinh,Trường Chinh,Cẩm Lệ,Đà Nẵng,KH0104|0293,student,economics
4,0000000098,10/1/1994,Nam,cẩm lệ,NaN,Cẩm Lệ,Đà Nẵng,KH0104|40580,blue collar,health service

In [ ]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customerid    4479 non-null   object
 1   DOB           4476 non-null   datetime64[ns]
 2   Gender        4479 non-null   object
 3   Address       4478 non-null   object
 4   Phường/Đường  1298 non-null   object
 5   Quận/Huyện    4212 non-null   object
 6   Tỉnh          4464 non-null   object
 7   Website       3943 non-null   object
 8   job           4479 non-null   object
 9   industry      3357 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 350.1+ KB

In [ ]:
# Kiểm tra xem có bao nhiêu giá trị null
df_customer.isnull().sum()

Customerid         0
DOB                3
Gender             0
Address            1
Phường/Đường    3181
Quận/Huyện       267
Tỉnh              15
Website          536
job                0
industry        1122
dtype: int64

In [43]:
# Nhận thấy dữ liệu ở cột Address và Tỉnh bị miss số lượng nhỏ, không ảnh hưởng quá nhiều nếu phân phối dữ liệu, có thể xóa những giá trị đó khỏi tập dữ liệu.
df_customer = df_customer.dropna(subset = ["Tỉnh","Address","DOB"])
# Còn những dữ liệu bị thiếu ở cột khác, chuyển dữ liệu thành chưa biết, tránh ảnh hưởng đến phân phối dữ liệu
df_customer[["Phường/Đường","Quận/Huyện","Website","industry"]] = df_customer[["Phường/Đường","Quận/Huyện","Website","industry"]].fillna("Chưa biết")

C:\Users\Admin\AppData\Local\Temp\ipykernel_15508\660793243.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer[["Phường/Đường","Quận/Huyện","Website","industry"]] = df_customer[["Phường/Đường","Quận/Huyện","Website","industry"]].fillna("Chưa biết")

#### Bảng Ticket

In [44]:
df_ticket.isna().sum()

orderid         96
cashier          0
saledate        96
total            0
customerid       0
ticketcode       0
date             0
time             0
slot             0
room             0
film             0
show_id          0
film_type       49
slot type        0
ticket type      0
ticket price     0
popcorn         96
dtype: int64

In [45]:
# Nhận thấy giá trị bị null không ảnh hưởng nhiều đến phân phối dữ liệu, có thể loại bỏ, vì số lượng giá trị bị null chiếm phần nhỏ.
df_ticket = df_ticket.dropna(subset=["orderid"])

In [46]:
df_ticket.isna().sum()

orderid          0
cashier          0
saledate         0
total            0
customerid       0
ticketcode       0
date             0
time             0
slot             0
room             0
film             0
show_id          0
film_type       49
slot type        0
ticket type      0
ticket price     0
popcorn          0
dtype: int64

In [ ]:
# Các giá trị bị null cùng một hàng liên kết với nhau, như trên, chỉ cần xóa 1 cột các giá trị null khác cũng được loại bỏ

In [48]:
# Dùng filter
df_ticket_null = df_ticket[df_ticket['film_type'].isnull()]
df_ticket_null.head(5)

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,show_id,film_type,slot type,ticket type,ticket price,popcorn
2021,10028052019B0040,emp012,2019-05-28,180000,0000026727,20104079,2019-05-28,12:45:00,I08,3,(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU K...,s1244,NaN,ĐƠN,Thành viên,45000,Không
2022,10028052019B0040,emp012,2019-05-28,180000,0000026727,20104078,2019-05-28,12:45:00,I07,3,(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU K...,s1244,NaN,ĐƠN,Thành viên,45000,Không
2023,10028052019B0040,emp012,2019-05-28,180000,0000026727,20104080,2019-05-28,12:45:00,I09,3,(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU K...,s1244,NaN,ĐƠN,Thành viên,45000,Không
2024,10028052019B0040,emp012,2019-05-28,180000,0000026727,20104081,2019-05-28,12:45:00,I10,3,(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU K...,s1244,NaN,ĐƠN,Thành viên,45000,Không
6553,10027052019B0050,emp011,2019-05-27,225000,0000029127,20103090,2019-05-27,12:45:00,E06,3,(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU K...,s1244,NaN,ĐƠN,Thành viên,45000,Không

Tương ứng giá trị thiếu của cột film_type ứng với tên phim là (PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU, đây là bộ phim thuộc thể loại Animation, Action, Adventure, do đó, có thể fill những giá trị thiếu bằng Animation, Action, Adventure

In [ ]:
df_ticket[['film_type']] = df_ticket[['film_type']].fillna('Animation, Action, Adventure')

C:\Users\Admin\AppData\Local\Temp\ipykernel_15508\3700848687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticket[['film_type']] = df_ticket[['film_type']].fillna('Animation, Action, Adventure')

orderid         0
cashier         0
saledate        0
total           0
customerid      0
ticketcode      0
date            0
time            0
slot            0
room            0
film            0
show_id         0
film_type       0
slot type       0
ticket type     0
ticket price    0
popcorn         0
dtype: int64

#### Bảng Film

In [54]:
df_film.isna().sum()

show_id          0
title            0
director        11
cast             7
country          8
release_year     0
rating           9
duration         1
listed_in        1
description      1
dtype: int64

In [56]:
# Do số lượng những giá trị null ít nhưng số hàng ở bảng film cũng khá ít, chúng em đã dựa trên thông tin của bộ phim để cố gắng fill vào chỗ na
df_film_director_null = df_film[df_film['director'].isnull()]
df_film_director_null

,show_id,title,director,cast,country,release_year,rating,duration,listed_in,description
5,s265,Man vs. Shark,NaN,"Jeremiah Sullivan, Dave Hoffman",United States,2019,TV-PG,45 min,"Animals & Nature, Documentary",Marine biologist attempts to get bitten by a d...
9,s313,Oil Spill of The Century,NaN,LoÃ¯ck Peyron,NaN,2019,TV-PG,45 min,"Documentary, Historical",LoÃ¯ck Peyron investigates the 1978 Amoco Cadi...
12,s366,Star Wars: Galaxy's Edge-Adventure Awaits,NaN,"Neil Harris, Kaley Cuoco, Oscar Isaac, Sarah H...",United States,2019,TV-PG,81 min,"Documentary, Family",Celebrating Disneyâ€™s new land that brings St...
13,s393,Lost City of Machu Picchu,NaN,Craig Sechler,United States,2019,TV-14,44 min,"Documentary, Family",Who were the mysterious people who built Machu...
15,s440,Women Of Impact: Changing The World,NaN,Julianna Margulies,United States,2019,TV-PG,44 min,"Documentary, Historical",How will you make the world a better place? He...
27,s594,Marvel Rising: Battle of The Bands,NaN,"Dee Baker, Dove Cameron, Skai Jackson, Kathree...",United States,2019,TV-Y7,23 min,"Action-Adventure, Animation, Superhero",Gwen (Ghost-Spider) has to defeat Screaming Mi...
37,s620,Marvel Rising: Chasing Ghosts,NaN,"Dee Baker, Chloe Bennet, Dove Cameron, Skai Ja...",United States,2019,TV-Y7-FV,24 min,"Action-Adventure, Animation, Superhero",Ghost-Spider teams up with the Secret Warriors.
38,s621,Marvel Rising: Heart of Iron,NaN,"Dee Baker, Chloe Bennet, Dove Cameron, Robbie ...",United States,2019,TV-Y7,46 min,"Action-Adventure, Animation, Coming of Age",Ironheart joins the Secret Warriors to defend ...
42,s632,"Happy Birthday, Mickey!",NaN,NaN,NaN,2019,TV-G,2 min,"Animation, Comedy, Dance","Celebrating Mickey, the worldâ€™s most beloved..."
53,s963,Marvel Studios: Expanding the Universe,NaN,NaN,NaN,2019,TV-PG,13 min,"Documentary, Family",An exciting look into the future of Marvel Stu...
73,s1244,(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU K...,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN

In [ ]:
update_dict = {
    'Man vs. Shark	': 'David Diley',
    'Oil Spill of The Century': 'Fabrice Gardel, Josselin Mahot',
    "Star Wars: Galaxy's Edge-Adventure Awaits": 'Christian Lamb',
    'Women Of Impact: Changing The World': 'Lisa Feit',
    'Marvel Rising: Battle of The Bands': 'Christopher Nolan',
    'Marvel Rising: Chasing Ghosts': 'Christopher Nolan',
    'Marvel Rising: Heart of Iron': 'Christopher Nolan',
    'Happy Birthday, Mickey!': 'Christopher Nolan',
    'Marvel Studios: Expanding the Universe': 'Christopher Nolan',
    '(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ (G)': 'Christopher Nolan'
    
}